<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestProject">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".CheckboxActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".Second_activity" />
        <activity android:name=".Login_page"/>
        <activity android:name=".Select_color"/>
        <activity android:name=".HelloActivity"/>
        <activity android:name=".CallerActivity"/>
        <activity android:name=".LocationActivity"/>
        <activity android:name=".FileManagerActivity"/>
        <activity android:name=".GridLayout"/>
        <activity android:name=".FrameLayout"/>
        <activity android:name=".ConstraintLayout"/>
        <activity android:name=".LinearLayout"/>
        <activity android:name=".FragmentDemoActivity"/>
        <activity android:name=".ProgressBarActivity"/>
        <activity
            android:name=".ThemeExampleActivity"
            android:theme="@style/Theme.ThemeExample" />
        <activity android:name=".CardViewActivity"/>
        <activity android:name=".LocalizationActivity"/>
        <activity android:name=".FabExampleActivity"/>
        <activity android:name=".AdapterDemoActivity"/>
        <activity android:name=".ViewPagerDemoActivity"/>

    </application>

</manifest>
